<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ClienteIService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.200.226:8053/ClienteService.svc/soap"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ClienteIService"
                contract="WSservicio.ClienteIService" name="WSHttpBinding_ClienteIService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAdsLWzQeKsJLJe2uvQESQPeQq1V4gAAAAAQAAAEACAAAwggI8MIIB6qADAgECAhAgE8lT9b3/rU5qnvK8Nl1oMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcwODExMTg0ODM3WhcNMzkxMjMxMjM1OTU5WjAbMRkwFwYDVQQDExBjdXN0b21WYWxpZGF0aW9uMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0VH/HArdZH9TrJ9fHat/JPygmVAG1VBaZKcm4kwYF2+wNmtrNPieX0ZOoSnyAMekWuymHMpmR9+Idlxei32eDOX7fM6lNYXP7Xn7ZWgTlcdoLnACY8t81MdcuSgT2prHlOIDPRoWNMOQKzh56ls5EhbDgEv9yy1f4i2Zbn1MaKNT5kEVKfNkfFCJC0RLbNYI6PL40SjujuAoAlduArKJYAnxtOBYa9BWtAmV8iPELYSkatwbT2b3R4oOCLmtZOO2BW/n/4RSYOOSelz1/8UJKLzZCcaoOP0RLRROv81vgBSNdH60CGmPp8cjaHYPpwzvq6TGRH/TG+AaJeABArovEQIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBAA9Wb2hcNBRPB3Pe4ts1ZEqQahNSDMDgpNBrgPwyqDCSMdi8Hxnctybu8vUd1eeKvT2w1A+ctVTf7siYBhU0qDE=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>